<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>retro_calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B802F2C41D87539C00DBF559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B802F2D81D87539D00DBF559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B802F2E31D87539D00DBF559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
